/*Colors and fonts*/

body{
	background: #e7e7de;
	color: rgb(50,50,50);
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}

h1{'
	font-family: 'roboto', sans-serif; 
	color: #0f3057; 
	font-weight: bolder;
	font-size: 50px;
}

h2{
	color: #00587a;
}

h3{
	color: #00587a;
}

a {
	text-decoration: none; 
	color: #008891;
}
a:hover {
	color: #00587a;
}

/*Custom class design*/
.container {
	width: 700px;
	margin: 40px auto;

} 

@media(max-width: 760px){
	.container {
		width: 600px;
	}
}

@media(max-width: 500px){
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white; 
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius:5px;
	margin: 40px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #008891 ;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.btn-blue:hover {
	background-color: Grey;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline; 
	padding:10px;
}
.list-inline i{
	font-size: 50px; 
	color:#0f3057;
}

#introduction p {
	margin-bottom: 40px;
}
#introduction h1 {
	margin-top:0px;
}
